:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  --linear-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
  --button-color: hsl(237, 63%, 64%);
}
body {
  margin: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.annualContainer {
  background-image: url("/pricing-html-css/images/bg-top.svg"),
    url("/pricing-html-css/images/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--Very-Light-Grayish-Blue);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainHeading {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: var(--Grayish-Blue);
}
.planSelector {
  font-family: "Montserrat", sans-serif;
  font-weight: 20px;
  color: var(--Light-Grayish-Blue);
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(var(--linear-gradient));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Styling for the slider round*/
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* Enables the slider to transform from one side to the other side when clicked */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
/* Impacts the border radius of the switch*/
.slider.round:before {
  border-radius: 50%;
}

.pricingMainContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.pricingSubContainer {
  background-color: white;
  width: 300px;
  height: 400px;
  padding: 45px;
  border-radius: 20px;
  margin: 5px;
}

li {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}

.planType {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue);
}

hr {
  background-color: var(--Very-Light-Grayish-Blue);
  opacity: 15%;
}

.planPrice {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 5px;
  padding: 10px;
}
.dollarSymbol {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: var(--Dark-Grayish-Blue);
  padding-top: 15px;
  margin-right: 5px;
}

.storageDetails {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue);
  padding: 10px;
}
.userDetails {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue);
  padding: 10px;
}

.sharingDetails {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--Dark-Grayish-Blue);
  padding: 10px;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 0px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  font-weight: 700;
  color: var(--Very-Light-Grayish-Blue);
  background-image: linear-gradient(var(--linear-gradient));
}

.pricingSubContainer:hover {
  background-image: linear-gradient(to bottom, var(--linear-gradient));
  width: 300px;
  height: 400px;
  padding-top: 45px;
  border-radius: 20px;
}
.pricingSubContainer:hover .planType {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.pricingSubContainer:hover .planPrice {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  padding: 10px;
}
.pricingSubContainer:hover hr {
  background-color: var(--Very-Light-Grayish-Blue);
  opacity: 50%;
}

.pricingSubContainer:hover .storageDetails {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
  padding: 10px;
}
.pricingSubContainer:hover .userDetails {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
  padding: 10px;
}

.pricingSubContainer:hover .sharingDetails {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: white;
  padding: 10px;
}

.pricingSubContainer:hover button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 5px;
  border-width: 0px;
  font-weight: 700;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  margin-top: 15px;
  color: var(--button-color);
  background-image: linear-gradient(var(--Very-Light-Grayish-Blue));
}

.pricingSubContainer:hover li {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}

.pricingSubContainer:hover .dollarSymbol {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: var(--Dark-Grayish-Blue);
  padding-top: 15px;
  margin-right: 5px;
  color: white;
}
